################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sii/v14
/Sandbox/bin/Debug
/Sandbox/obj/Debug
/Sii/bin/Debug
/Sii/obj/Debug
